<html>
  <head>
      <title>Battle</title>
      <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
    <h3>Attack successful!</h3>
    <% if (@game.curr_turn == @game.player1) %>
      <p><%= @game.player1.name %> attacked <%= @game.player2.name %>.</p>
    <% else %>
      <p><%= @game.player2.name %> attacked <%= @game.player1.name %>.</p>
    <% end %>
    <form action="/switch-turns" method="post">
      <input type="submit" value= "Go Back">
    </form>
  </body>
</html>